* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.active {
	border-bottom: 5px solid black;

}

.navbar {
	margin: 10px 0px 0px 80px;
	height: 80px;
}


.all-forms input[type=text]:hover {
	background-color: #F0F0F0;
	font-weight: 600;

}


.all-forms input[type=email]:hover {
	background-color: #F0F0F0;
	font-weight: 600;
}

.navbar img {
	width: 70px;
	position: absolute;
	top: 5px;
	left: 10px;
	border-radius: 10px;
}

hr {
	height: 20px;
	width: 90%;
	margin-left: 5%;
}

.navbar-brand {
	color: #355E3B;
	font-size: 30px;
	font-family: fantasy;
	margin: 0px 80px;
}

.navbar-brand:hover {
	color: salmon;
}


.zaracho {
	display: none;
}

#navbarSupportedContent {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: black;
	margin: 0px 80px;

}

#navbarSupportedContent a:hover {
	color: salmon;
	text-decoration: none;
	font-size: 22px;
}


#navbarSupportedContent a {
	font-family: fantasy;
	color: #355E3B;
	font-size: 18px;
}

.r-icon {
	color: darkblue;
	padding: 0 5px;
}

.first-content {
	max-width: 1000px;
	margin: 30px 300px;
	font-family: cursive;
}

.first-cont {
	max-width: 1000px;
	margin: 30px 300px;
	font-family: cursive;
}

.first-cont h1 {
	color: #355E3B;
	font-weight: 600;
	margin-left: 320px;
	font-size: 35px;
	font-weight: bold;
}

.first-cont h3 {
	font-size: 20px;
	margin: 0px 0px 0px 50px;
}

.kirk{
	display: flex;

}

.first-conti {
	width: 100%;
	height: 200px;
	font-family: cursive;
	color: black;
	padding: 20px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.first-conti h1 {
	font-size: 25px;
	color: wheat;

}

.hell {
	width: 300px;
}

.hell img {
	width: 100px;
	margin: 5px 0px 0px 100px;
	border-radius: 10px;
}


.lim {
	margin: 2px 50px;
	padding: 2px 20px;
}

.lim a {
	color: lightblue;

}

.first-content-home {
	max-width: 900px;
	margin-top: 30px;
	margin-left: 100px;
	font-family: cursive;
}


.first-content-home h1 {
	font-size: 30px;
	font-family: cursive;
}


.first-content img {
	max-width: 800px;
	margin: 10px 0;
}

.first-content li h2 {
	font-size: 20px;
}

.first-content h1 {
	color: #355E3B;
	margin: 15px 0;
}


.first-content-contact h1 {
	text-align: center;
	font-size: 25px;
	margin: 20px 0px;
	color: #355E3B;
}

.first-content-contact p {
	text-align: center;
	font-size: 15px;
	font-family: cursive;
}

.first-content-contact input[type=text] {
	margin: 20px 0px 0px 80px;
	width: 1200px;
	border-radius: 15px;
}

.first-content-contact input[type=text]:hover {
	background-color: #F0F0F0;
	color: black;
	font-weight: 600;
}

.first-content-contact input[type=email] {
	margin: 20px 0px 0px 80px;
	width: 1200px;
	border-radius: 15px;
}

.first-content-contact input[type=email]:hover {
	background-color: #F0F0F0;
	color: black;
	font-weight: 600;
}


.message-formmm {
	margin: 20px 0px 0px 80px;
	width: 1200px;
}

.boro {
	margin: 20px 0px 0px 600px;
}

.first-content p {
	margin: 15px 0;
	font-size: 20px;
}

.first-content li p {
	background-color: black;
	color: white;
	padding: 0 15px;
	margin: 15px 0;
}

.first-content h4 {
	margin: 30px 0;
	font-size: 15px;
}

.first-content h5 {
	background-color: cyan;
}

.homepage {
	width: 700px;
	margin: 10px 0px 0px 100px;
}

.homepage h1 {
	margin: 0px 0px 10px 0px;
	font-size: 70px;
	font-family: Arial, Helvetica, sans-serif;
}

.homepage h2 {
	margin: 0px 0px 10px 0px;
	font-size: 70px;
	color: #355E3B;
	font-family: Arial, Helvetica, sans-serif;
}

.homepage h3 {
	font-weight: lighter;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	width: 380px;
	font-weight: 500;
	color: #808080;
}

.homepage a {
	margin: 10px 20px 10px 10px;
	background-color: black;

}

.reel {
	margin: 0px 0px 0px 0px;
	display: flex;
	flex-direction: row;
}

.btn:hover {
	font-weight: 600;
	color: black;
}


.homepage button {

	border-radius: 90px;
}

.btn {
	background-color: black;
	color: #355E3B;

}

.thoughts-content{
	padding: 20px;
}

.thoughts-content a {
	font-size: 25px;
	font-family: cursive;
	color: black;
}

.thoughts p {
	margin: 0;
}

.thoughts li {
	margin: 20px 0;
	list-style-type: none;

}

.jijj {
	color: black;
}

.linkss {
	display: flex;
	flex-direction: column;
	color: black;
}

.linkss h6 {
	font-weight: 600;
}

.linkss a {
	margin: 10px 0;
	color: lightblue;
}

.form-control {
	margin: 30px 0;
}

.submit-btn {
	background-color: black;
	color:#355E3B;
	padding: 10px 10px;
	border-radius: 15px;
	width: 200px;

}

.submit-btn:hover {
	background-color: #707070;
	color: black;
}

#contacttt {
	margin-left: 30px;
	background-color: black;
	
	
}

#contacttt a{
	color: #355E3B;
}



.skills-set {
	width: 1200px;
	margin: 80px 220px 30px 80px;
	padding: 10px 40px;
	font-family: cursive;
	box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.1);

}

.skills-set-two {
	width: 1200px;
	margin: 80px 220px 30px 80px;
	padding: 10px 40px;
	font-family: cursive;
	box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.1);

}

.kill{
	display: none;
}


.skills-set h1 {
	width: 800px;
	margin: 0px 0px 0px 400px;
	padding: 30px 5px;
	font-family: verdana;
	font-weight: bold;
	font-size: 50px;
}


.skills-set-two h4 {
	width: 1200px;
	margin: 0px 0px 0px 0px;
	padding: 30px 5px;
	font-family: verdana;
	font-weight: bold;
	font-size: 45px;
}

.skills-set-two h5 {
	text-align: center;
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
}

.skills-set-two p {
	text-align: center;
	margin: 30px 0px 0px 0px;
	font-size: 20px;
}

.skills-set-two img {
	width: 700px;
	margin: 10px 0px 10px 200px;
}

.skills-set-two h6 {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.skills-set-two h2{
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 50px 0px;
	display: none;
}

.skills-set-two a{
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 50px 0px;
}


.skills-set img {
	width: 40px;
	height: 41px;
}

.skills-set h2 {
	margin-left: 80px;
	font-size: 20px;
}

.ssss {
	display: flex;
	flex-direction: row;
	margin: 20px 0px 10px 250px;
}

.ssss img {
	margin: 00px 0px 0px 0px;
}

.ssss h2 {
	margin: 10px 10px 10px 0px;
}

.ig {
	width: 20px;
	height: 20px;
}


.ig-div {
	display: flex;
	flex-direction: row;
	margin: 10px 20px 0px 500px;
}

.ig-div a {
	text-decoration: none;
}

.ig-div h5 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 1px 0px 0px 10px;
}

.whatsapp {
	width: 20px;
	height: 20px;
}

.whatsapp-div {
	display: flex;
	flex-direction: row;
	margin: 10px 20px 0px 0px;
}

.whatsapp-div a {
	text-decoration: none;
}

.whatsapp-div h5 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 1px 0px 0px 10px;
}

.linkedin {
	width: 20px;
	height: 20px;
}

.linkedin-div {
	display: flex;
	flex-direction: row;
	margin: 10px 80px 0px 0px;

}

.linkedin-div a {
	text-decoration: none;
}

.linkedin-div h5 {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	margin: 1px 0px 0px 10px;
	;
}



.cob {
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
	width: 1000px;
}


.cobb {
	padding: 20px 10px;
	margin-top: 30px;
	margin-left: 250px;
	width: 450px;
	background-color: #F0F0F0;
	box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.1);
}

.cobb a {
	font-size: 13px;

}

.cobb h1 {
	margin: 2px 5px;
	font-size: 25px;
	font-weight: bold;
	font-family: cursive;

}

.cobb h5 {
	text-align: center;
}

.cobb p {
	margin: 0px 5px;
	font-size: 15px;
	font-family: cursive;
}

.cobb img {
	margin: 2px 5px;
	width: 20px;
	height: 18px;
	margin: 0px 5px;
}

.rrr {
	margin: 15px 0px;
	display: flex;
	flex-direction: row;
}

.rrr h1 {
	font-size: 15px;
}

.rrrr {
	position: absolute;
	right: 80px;
	top: 150px;
}

.tttt {
	position: absolute;
	right: 1%;
	top: 680px;
}

.tttt img {
	width: 600px;
	opacity: 0.2;
}

.uuuu {
	position: absolute;
	right: 1%;
	top: 1050px;
}

.uuuu img {
	width: 600px;
	opacity: 0.2;
}


.rrrr img {
	width: 600px;
}

.qqqq {
	position: absolute;
	left: 1%;
	top: 35%;
}

.llll {
	position: absolute;
	top: 680px;
}

.llll img {
	width: 600px;
	opacity: 0.2;
}


.vvvv {
	position: absolute;
	top: 1050px;
}

.vvvv img {
	width: 600px;
	opacity: 0.2;
}

.qqqq img {
	width: 300px;
}

.testt {
	width: 800px;
	margin: 40px 250px;
	background-color: #F0F0F0;
}

.testtt {
	width: 800px;
	margin: 40px 250px;
	background-color: #F0F0F0;
}


.testtt p {
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px 5px;
}

.testt p {
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px 5px;
}

.fleb {
	display: flex;
	flex-direction: row;

}

.lima {
	margin-top: 70px;
	margin-right: 120px;
}

.limaa {
	width: 700px;
	margin-top: 70px;
	margin-left: 220px;
}


.limaa h2 {
	font-weight: bold;
	font-family: sans-serif;
}

.lima h2 {
	font-weight: bold;
	font-family: sans-serif;

}

.limaa h4 {
	font-family: sans-serif;
	margin: 0px 50px;
}

.lima h4 {
	font-family: sans-serif;
	margin: 0px 20px;
}


.limaa a {
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 100px;
}

.lima a {
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 100px;
}

.doc {
	width: 50px;
	height: 50px;
	margin: 0px 140px;
}

#navbarSupportedContentMobile {
	display: none;
}


@media only screen and (max-width: 800px) {

	* {
		margin: 0;
		padding: 0;
	}

	nav {

	}

	.mop {
		max-height: 2000px;
		height: 2000px;
	}

	.mopp {
		max-height: 2000px;
		height: 2000px;
	}

	.moppp {
		max-height: 2000px;
		height: 2000px;
	}

	.mopppp {
		max-height: 2000px;
		height: 2000px;
	}

	.moppppp {
		max-height: 2000px;
		height: 2000px;
	}

	.mopppppp {
		max-height: 2000px;
		height: 2000px;
	}

	.moppppppp {
		max-height: 2000px;
		height: 2000px;
	}

	.navbar {
		max-width: 600px;
		height: 80px;
		margin: 0px auto;
		background-color: #B6D0E2;
		
	}

	.navbar img {
		width: 70px;
		position: absolute;
		top: 5px;
		left: 0px;
		margin-left: 5px;
		border-radius: 8px;
	}

	.navbar-brand {
		color: #36454F;
		font-size: 15px;
		margin: 0px 80px;
		font-family: monospace;
	}

	#navbarSupportedContentMobile {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 75px;
		left: 0;
		right: 0;
		z-index: 99;
		width: 100%;
		height: 100vh;
		background-color: whitesmoke;
	}


	#navbarSupportedContentMobile li a {
		color: darkblue;
	}

	#navbarSupportedContent {
		display: none;
	}

	.qqqq {
		display: none;
	}

	.homepage {	
		max-width: 600px;
		width: 100%;
		margin: 25px 0px 0px 0px;
	}

	.homepage h1 {
		margin: 0px 0px 10px 0px;
		font-size: 38px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.homepage h2 {
		margin: 0px 0px 10px 0px;
		font-size: 38px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.homepage h3 {
		width: 340px;
		font-size: 17px;
	}

	.rrrr {
		position: absolute;
		left: 10px;
		top: 490px;
	}

	.rrrr img {
		width: 350px;
	}


	.llll {
		top: 780px;
		left: 20px;
	}

	.llll img {
		width: 200px;
		opacity: 0.1;
	}

	.llll, .tttt, .vvvv, .uuuu{
		overflow-x: hidden;
	}


	.skills-set {
		max-width: 600px;
		width: 100%;
		margin: 250px 2px 50px 0px;
		padding: 5px 25px;
		font-family: sans-serif;
		border-radius: 5px;

	}

	.skills-set-two {
		width: 350px;
		margin: 0px;
		padding: 2px 5px 2px 5px;
		font-family: sans-serif;
		border-radius: 5px;
	}
	
	.kill{
		display: block;
		width: 350px;
		padding: 0px;
	}




	.skills-set h1 {
		width: 200px;
		margin: 20px 0px 0px 80px;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 18px;
	}

	.skills-set-two h2{
		text-align: center;
	}


	.skills-set-two h4 {
		width: 360px;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 15px;
	}

	.skills-set-two h5 {
		text-align: center;
		font-size: 15px;
		font-family: 'Courier New', Courier, monospace;
	}

	.skills-set-two h6 {
		
	}
	

	.skills-set-two p {
		text-align: center;
		margin: 20px 0px 10px 0px;
		font-size: 15px;
		width: 300px;
	}


	.skills-set-two h6 {
		text-align: center;
		font-size: 12px;
		
	}


	.skills-set img {
		width: 20px;
		height: 21px;
		margin: 2px 5px;
	}

	.skills-set-two img {
		display: none;
	}


	.skills-set h2 {
		margin: 5px 20px;
		font-size: 15px;
		font-family: sans-serif;
	}

	.kill a{
		width: 0px;
	}

	.tttt {
		top: 780px;
		right: 1%;
	}

	.tttt img {
		width: 200px;
		opacity: 0.1;
	}

	.uuuu {
		top: 1080px;
	
	}

	.uuuu img {
		width: 200px;
		opacity: 0.1;
	}


	.vvvv {
		top: 1080px;
		left: 5px;
	}

	.vvvv img {
		width: 200px;
		opacity: 0.1;
	}

	.cob {
		display: flex;
		flex-direction: column;
		max-width: 400px;
		width: 350px;
		margin: 0 auto;
		position: absolute;
		top: 1510px;
		
		border-radius: 5px;
	}

	.cob h5 {
		text-align: center;
		margin: 20px 20px;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 15px;
	}

	.cobb {
		width: 320px;
		margin: 250px 10px 0px 10px;
		padding: 5px 25px;
		background-color: #F0F0F0;
	}


	.cobb h1 {
		font-size: 15px;
		font-weight: bold;
		font-family: sans-serif;
		margin: 10px 5px;
	}

	.cobb p {
		width: 350px;
		font-size: 15px;
		font-family: sans-serif;
		margin: 8px 2px;
	}


	.cobb a {
		width: 350px;
		color: black;
		font-size: 15px;
		font-family: sans-serif;
		margin: 0px 5px;
	}


	.cobb img {
		width: 25px;
		height: 23px;
		margin: 7px 0px;
	}


	.first-content-home {
		width: 300px;
		margin: 50px 0px;
		font-family: sans-serif;
	}


	.first-content-home h1 {
		font-size: 15px;
		font-family: sans-serif;
		font-weight: bold;
		text-align: center;
	}

	.all-forms input {
		width: 320px;
		margin: 20px 0px;
	}

	.message-form {
		margin: 0px 0px;
		width: 320px;
	}


	#navbarSupportedContent a {
		font-family: fantasy;
		color: black;
		font-size: 15px;
	}


	.zaracho {
		display: flex;
		position: absolute;
		right: 7px;
		margin-right: 20px;

	}


	/*Footer*/
	.brasil {
		position: absolute;
		left: 0;
		top: 1700px;
		width: 280px;
	}


	.first-conti {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-height: 400px;
		height: 400px;
		margin: 1000px 0px;
		font-family: sans-serif;
		background-color: #B6D0E2;
	}

	.ig {
		width: 18px;
		height: 18px;
		margin-bottom: 5px;

	}

	.whatsapp {
		width: 18px;
		height: 18px;
		margin-bottom: 5px;

	}

	.linkedin {
		width: 18px;
		height: 18px;
		margin-bottom: 5px;
	}

	.ig-div {
		display: flex;
		flex-direction: row;
		margin: 10px 10px 0px 20px;
	}

	.ig-div h5 {
		font-size: 15px;
	}


	.whatsapp-div h5 {
		font-size: 15px;
	}

	.linkedin-div h5 {
		font-size: 15px;
	}

	.whatsapp-div {
		margin: 10px 10px 0px 0px;

	}

	.linkedin-div {
		display: flex;
		flex-direction: row;
		margin: 10px 800px 0px 0px;

	}


	.hell {
		text-align: center;
		width: 350px;
		margin: 5px 0px;
	}

	.hell img {
		width: 70px;
		border-radius: 10px;
		margin: 80px 0px 0px 20px;
	}

	.kirk {
		display: flex;
		flex-direction: row;
		margin: 0px 0px 0px 5px;
	}


	.linkss {
		text-align: center;
	}

	.linkss h6 {
		margin-top: 20px;
	}

	.lim {
		display: none;
	}




	/*Testimonial*/

	.first-cont {
		max-width: 372px;
		margin: 30px 0px;
		font-family: sans-serif;
	}

	.first-cont h1 {
		margin: 5px 110px;
		font-size: 20px;
	}

	.first-cont h3 {
		margin: 2px 45px;
		font-size: 15px;
		font-family: sans-serif;
	}


	.fleb {
		display: flex;
		flex-direction: column;
	}


	.testt {
		width: 300px;
		margin: 20px 40px;
		background-color: #F0F0F0;
	}

	.testtt {
		width: 300px;
		margin: 20px 40px;
		background-color: #F0F0F0;
	}


	.testtt p {
		font-size: 15px;
		font-family: sans-serif;
		margin: 5px 5px;
	}

	.testt p {
		font-size: 15px;
		font-family: sans-serif;
		margin: 5px 5px;
	}

	.lima {
		width: 350px;
		margin: 10px 25px;
	}

	.limaa {
		width: 350px;
		margin-top: 50px;
		margin-left: 20px;
	}


	.limaa h2 {
		font-family: sans-serif;
		font-size: 20px;
		font-weight: bold;
		margin: 5px 15px;
	}

	.lima h2 {
		font-family: sans-serif;
		font-size: 20px;
		font-weight: bold;
		margin: 5px 5px;

	}

	.limaa h4 {
		font-family: cursive;
		margin: 5px 100px;
		font-size: 20px;
	}

	.lima h4 {
		font-family: cursive;
		margin: 0px 70px;
		font-size: 20px;
	}


	.limaa a {
		font-family: cursive;
		font-size: 20px;
		margin-left: 110px;
		margin-bottom: 20px;
	}

	hr {
		width: 85%;
		margin-left: 20px;
	}

	.lima a {
		font-family: cursive;
		font-size: 20px;
		margin-left: 110px;
	}


	/*Thoughts*/


	.thoughts-content {
		width: 100%;
		max-width: 370px;
		margin: 30px 10px;
	}


	.thoughts-content a {
		font-size: 20px;
		font-family: sans-serif;
		color: black;
	}


	.thoughts-content p {
		font-size: 15px;
	}


	/*first*/


	.first-content {
		max-width: 370px;
		margin: 30px 10px;
		font-family: sans-serif;
	}


	.first-content-contact {
		max-width: 370px;
		margin: 30px 15px;
		font-family: sans-serif;
	}


	.first-content-contact p {
		text-align: center;
		font-size: 15px;
		font-family: sans-serif
	}

	.first-content a {
		font-size: 15px;
	}

	.first-content h1 {
		font-size: 20px;
	}

	.first-content h2 {
		font-size: 25px;
		padding: 5px 5px;
	}

	.first-content p {
		font-size: 15px;
		width: 340px;
	}

	.first-content img {
		width: 350px;
	}

	.reel {
		margin: 2px 10px 2px 0px;
		display: flex;
		flex-direction: row;
		width: 300px;
	}

	.reel a {
		margin-left: 25px;
		font-size: 13px;
	}

	

	.firsthand {
		display: none;
	}

	.sca {
		display: none;

	}

	.ssss {
		display: flex;
		flex-direction: row;
		margin: 20px 0px 10px 0px;
	}

	.ssss img {
		margin: 0px 10px 0px 0px;
	}

	.ssss h2 {
		margin: 10px 10px 10px 0px;
		font-size: 12px;
	}

	.momo {
		position: absolute;
		top: 760px;
		left: 215px;
	}

	.momo img {
		margin: 5px 25px;
	}


	.first-content-contact input[type=text] {
		margin: 20px 0px 0px 0px;
		width: 350px;
		border-radius: 10px;
	}


	.first-content-contact input[type=email] {
		margin: 20px 0px 0px 0px;
		width: 350px;
		border-radius: 10px;
	}

	.message-formmm {
		margin: 20px 0px 0px 00px;
		width: 350px;
	}

	.boro {
		margin: 20px 0px 0px -10px;
	}

	.everything{
		
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		padding: 20px;
	}
































}


